<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head', {title: 'Inicio' }) %>

<body>
  <!-- Header -->
  <%- include('partials/headerNavbar') %>
  <!-- /Header -->

  <!-- Banner -->
  <div class="banner"></div>
  <!-- /Banner -->

  <!-- ultima visita -->
  <%- include('./partials/products-wrapper.ejs',{
      title:'Basado en tu última visita', 
      section:'visited',
      productsShow:productsVisited,
      toThousand:toThousand
      }) %>
  <!-- /ultima visita -->
  <!-- Ofertas -->
  <%- include('./partials/products-wrapper.ejs',{
    title:'Ofertas', 
    section:'in-sale',
    productsShow:productsInSale
    }) %>
  <!-- /Ofertas -->
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
</body>

</html>